@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@1,6..96&family=Noto+Sans+KR:wght@300&family=Noto+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');

:root{
  --text: #666666;
  --bg: #F0F0F0;
  --text-header: #121212;
  --link: #121212;
  --link-hover: #fb94bc;
}

body {
  font-family: 'Noto Sans', 'Noto Sans KR', sans-serif;
  font-weight: 300;
  background: var(--bg);
  color: var(--text);
}

#root {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-header);
}

.nav-link {
  color: var(--link);
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.italic {
  font-family: 'Modoni Moda', serif;
  font-weight: 300;
  font-style: italic;
  display: inline-block;
}

main {
  width: calc(100vw - 200px);
  padding: 1rem 4rem;
}

header {
  max-width: 200px;
  width: 100%;
  margin: 2rem 0 0 2rem;
}

.logo {
  width: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

li .icon {
  display: inline;
  float: left;
  transform: scale(0.6);
  translate: -10px;
}

.accordion {
  transition: 0.4s
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: all 400ms ease-out;
}

.italic.first {
  margin-top: 1rem;
}

.italic.last {
  margin-bottom: 1rem;
}

.nav-link:before {
  content: '';
  position: absolute;
  transition: all 200ms ease-in-out;
}

.nav-link:hover:not(.icon):before {
  content: '';
  position: absolute;
  translate: -10px 8px;
  width: 50px;
  height: 15px;
  background: var(--link-hover);
  z-index:-2;
}