@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@1,6..96&family=Noto+Sans+KR:wght@300&family=Noto+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');

:root{
  --text: #666666;
  --bg: #F0F0F0;
  --hover: #cbc9c9;
  --text-header: #121212;
  --link: #121212;
  --link-hover: #fb94bc;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', 'Noto Sans KR', sans-serif;
  font-weight: 300;
  background: var(--bg);
  color: var(--text);
  margin: 0;
}

#root {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

main {
  max-width: 100%;
  padding: 2rem;
}

header {
  width: 100%;
  display: flex;
  padding: 1rem;
  padding-bottom: 0;
}

/* TEXT */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-header);
}

.nav-link {
  color: var(--link);
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

li .active {
  color: var(--link);
  text-decoration: none;
  cursor: pointer;
}

.italic {
  font-family: 'Modoni Moda', serif;
  font-weight: 300;
  font-style: italic;
  display: inline-block;
}

/* NAVIGATION */

.logo {
  width: 100%;
  max-width: 60px;
}

.menu-button {
  margin: 1rem;
  margin-left: auto;
}

.mobile-nav {
  font-size: 1.5em;
  text-align: right;
  display: flex;
  flex-wrap: wrap;
}

.mobile-nav .collapse-menu {
  list-style-type: none;
  flex-basis: 100%; 
}

li .icon {
  display: inline;
  float: right;
  margin-left: 1rem;
}

.accordion {
  transition: 0.4s
}

.panel {
  list-style: none;
  max-height: 0;
  overflow: hidden;
  transition: all 400ms ease-out;
  margin-right: 0.5rem;
  font-size: 0.875em;
}

.italic.first {
  margin-top: 1rem;
}

.italic.last {
  margin-bottom: 1rem;
}

.nav-link:before,
li .active:before {
  content: '';
  position: absolute;
  transition: all 200ms ease-in-out;
}

.nav-link:hover:not(.icon):before,
li .active:before {
  content: '';
  position: absolute;
  translate: -10px 8px;
  width: 50px;
  height: 15px;
  background: var(--link-hover);
  z-index:-2;
}

.desktop-nav {
  display: none;
}

.mobile-nav {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}

.mobile-toggle {
  border: 2px solid var(--text);
  border-radius: 0.3em;
  aspect-ratio: 1/1;
  padding: 0.3em;
  background: none;
  cursor: pointer;
  transition: all ease-in 200ms;
}

.mobile-toggle:hover {
  background: var(--hover);
  border: 2px solid var(--hover)
}

.collapse-menu {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  margin: 0;
  transition: opacity 200ms ease-out, max-height 400ms ease-out;
}


/* KOLOROWA */

.img-grid {
  column-count: 1;
  column-gap:20px;
  padding: 1rem;
}

.img-grid img {
  transition: opacity 0.25s ease-in-out;
  max-width: 100%;
  width: 100%;
  margin-bottom: 15px;
  cursor: pointer;
}

.img-grid img:hover {
  opacity: .9;
}

@media only screen and (min-width: 768px) {
  #root {
    flex-flow: row nowrap;
    align-items: flex-start;
  }
  header {
    max-width: 200px;
    width: 100%;
    margin: 2rem;
    margin-right: 3rem;
  }

  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    display: unset;
  }

  .menu {
    list-style-type: none;
    padding: 0;
  }

  .logo {
    max-width: unset;
    width: 150px;
  }

  .img-grid {
    padding-top: 2rem;
  }

  li .icon {
  float: left;
  transform: scale(0.6);
  translate: -10px;
  margin: 0;
}

}

@media (min-width:1000px){
  .img-grid{
  column-count:2;
  column-gap:20px;
}
}

@media (min-width:1600px){
  .img-grid{
  column-count:3;
  column-gap:20px;
}
}

@media (min-width:2200px){
  .img-grid{
  column-count:4;
  column-gap:20px;
}
}

@media (min-width:2500px){
  .img-grid{
  column-count:5;
  column-gap:20px;
}
}

/* CAROUSEL */

.carousel-root {
  z-index: 100;
}

div .carousel-img {
  height: 80vh;
}

.carousel-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}


/* MODAL */

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}
